{%  extends 'users/navbar.html'  %}

{%  block content   %}

    <h1>My tasks </h1>
    <br>

    {%  for task in list_tasks %}

    <div class="container">
        {{task.title}}
        <br>
        {{task.description}}
        <br>
        {{task.created_at}}
        <br>
        {{task.product_owner}}
        <br>
        {{task.user_story}}
        <br>
        {{task.created_by}}
        <br>
        {{task.sprint}}
        <br>
    </div>
    {% endfor %}
    <br>

    <form method="POST">

        {% csrf_token %}

        {{ create_task_form.as_p }}

        <button type="submit">Create Task</button>
    </form>

{% endblock %}



