{% extends 'users/navbar.html' %}
{% block content %}
    <h1>{{ task.title }}</h1>
    <details>
        <summary>Pokaż szczegóły zadania</summary>
        <p>Opis: {{ task.description }}</p>
        <p>Utworzono: {{ task.created_at }}</p>
        <p>Utworzone przez: {{ task.created_by }}</p>
        {% if task.user_story %}
            <p>Historia użytkownika: {{ task.user_story }}</p>
        {% endif %}
        {% if task.sprint %}
            <p>Sprint: {{ task.sprint }}</p>
        {% endif %}
    </details>

    {% if form %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% endif %}

    <a href="{% url 'my_tasks_page' %}">Return to the Task list</a>
    <br>

     {% if assigned_users %}
        <h3>Sprint Users:</h3>
        <ul>
     {% for user in assigned_users %}
         <li>{{ user.username }}</li>  {# lub user.username, jeśli nie masz metody get_full_name #}
     {% endfor %}
        </ul>
    {% else %}
        <p> No sprint USers.</p>
    {% endif %}

    <br>

    {% if task.estimations %}
         <p>{{ task.estimations.all }}</p>
        {% for estimation in task.estimations.all %}
            <li>{{ estimation.estimated_by.get_full_name }}: {{ estimation.get_estimation_display }}</li>
        {% endfor %}

{#        <a href="{% url 'estimate_task' task.pk estimation.id %}">Task estimation</a>#}
    {% else %}
        <p>No estimation yet.</p>
    {% endif %}

    {% if estimation_ended %}
        <p>Estimation completed. The average estimation : {{ average_estimation }}</p>
    {% endif %}

    <a href="{% url 'estimate-task-create' task.pk %}">Create New Estimation</a>
{% endblock %}