<html>
    <head>

        <title>  Planning Poker App Estimator for your Scrum Team | Login  </title>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">

    </head>
    <div class="container">

        <h3> Login to your Profile </h3>

        <br>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{LoginForm.as_p}}

            <br>

            <button type="submit"> Login     </button>

        </form>

    </div>

</html>